<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="login.js"></script>
<style>
.ng-invalid.ng-dirty {
    
border-color: #FA787E;

}
.ng-valid.ng-dirty {
    
    border-color: #78faf9;
    
    }

</style>
</head>

<body ng-app="Myapp">
    <form name="myForm" ng-controller="Myctr" ng-submit="myForm.$valid && submitLoginForm()" novalidate>

        <p>
            FirstName: *
            <input id="fname" type="text" name = "fname" ng-model="fname" required/>
            <span style="color:red" ng-show="myForm.fname.$pristine && myForm.fname.$invalid">
                    <span ng-show="myForm.fname.$error.required">Please enter FirstName</span>
                    </span>
        </p>
        <p>
            LastName: *
            <input id="lname" name="lname" type="text" ng-model="lname" required/>
            <span style="color:red" ng-show="myForm.lname.$pristine && myForm.lname.$invalid">
                    <span ng-show="myForm.lname.$error.required">Please enter LastName</span>
                    </span>
        </p>
        <p>
            Gender *
            <input  type="radio" name="Radio1" ng-model="gen" value="male" required>Male
            <input type="radio" name="Radio1" ng-model="gen" value="female" required>Female
            <span style="color:red" ng-show="myForm.Radio1.$pristine && myForm.Radio1.$untouched ">
            <span ng-show="myForm.Radio1.$error.required">Please select gender</span>
        </p>
        <p>
            Select a country: *
            <select id="contry" name="ctry" ng-model="ctry" required>
                    <span style="color:red" ng-show="myForm.ctry.$dirty && myForm.ctry.$invalid ">
                            <span ng-show="myForm.ctry.$error.required">Please select Country</span>    

                <option ng-repeat="x in dataary" value="{{x}}">{{x}}

            </select>
        </p>
        <p>
            About
            <textarea id="about" ng-model="myTextarea"></textarea>

        </p>
        <p>
            Hobbies
            <br>
            <input type="checkbox"  ng-model="all"> Check all
            <br>
            <input type="checkbox" name="chkbt1" value="Reading" ng-checked="all">Reading
            <br>
            <input type="checkbox" name="chkbt1" value="Cycling" ng-checked="all">Cycling
            <br>
            <input type="checkbox" name="chkbt1" value="Swimming" ng-checked="all">Swimming
            <br>
            <input type="checkbox" name="chkbt1" value="Tennis" ng-checked="all">Tennis
            <br>
            <input type="checkbox" name="chkbt1" value="Cricket" ng-checked="all">Cricket
            <br>
            <input type="checkbox" name="chkbt1" value="Football" ng-checked="all">Football
            <br>
            <input type="checkbox" name="chkbt1" value="Painting" ng-checked="all">Painting
        </p>
     
<input type="submit" value="submit"><br>

      
{{result}}


    </form>
</body>

</html>
